.banner__image {
    max-width: 646px;
    margin-bottom: 1px;
}

@media (min-width: 320px) and (max-width: 768px) {
    .banner__image {
        width: calc((100vw - 320px)/(768 - 320) * (646 - 250) + 250px);
        margin-bottom: calc((100vw - 320px)/(768 - 320) * (1 - 13) + 13px);
    }
}

@media (max-width: 320px) {
    .banner__image {
        width: 250px;
        margin-bottom: 13px;
    }
}