.projects__title {
    text-align: center;
    font-family: 'Pribambas';
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.02em;
}

@media (min-width: 320px) and (max-width: 768px) {
    .projects__title {
        font-size: calc((100vw - 320px)/(768 - 320) * (36 - 24) + 24px);
    }
}

@media (max-width: 319px) {
    .projects__title {
        font-size: 36px;
    }
}