.banner__counter {
    margin-top: 0;
    margin-bottom: 35px;

    text-align: center;
    font-family: 'Pribambas';
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.005em;
    
    color: #A95099;
}

@media (min-width: 320px) and (max-width: 768px) {
    .banner__counter {
        margin-bottom: calc((100vw - 320px)/(768 - 320) * (35 - 39) + 39px);
        font-size: calc((100vw - 320px)/(768 - 320) * (48 - 36) + 36px);
        line-height: calc((100vw - 320px)/(768 - 320) * (48 - 36) + 36px);
    }
}

@media (max-width: 319px) {
    .banner__counter {
        margin-bottom: 39px;
        font-size: 36px;
        line-height: 36px;
    }
}