@import url('./_theme/_orange/button_theme_orange.css');
@import url('./_type/_small/button_type_small.css');
@import url('./_type/_big/button_type_big.css');

.button {
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color ease 0.3s, color ease 0.3s;
}